@using EntityLayer.Entities
@model List<ProductImage>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!--Ürün Resmi Ekle Modal-->
<div class="modal" tabindex="-1" id="urun-resmi-ekle-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ürün Resmi Ekle</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("UrunResmiEkle", "ProductImage", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">

                    <div class="form-group">
                        <label class="form-label text-dark">Resim Adı</label>
                        <input type="text" name="Name" class="form-control col-8" required autocomplete="off" />
                    </div>

                    <div class="form-group">
                        <label class="form-label text-dark">Resim Seç</label>
                        <input type="file" name="file" class="form-control col-8" />
                    </div>

                    <div class="form-group">
                        <label class="form-label text-dark">Ürün Seç</label>
                        <select class="form-select col-8" name="ProductID">
                            @foreach (Product item in ViewBag.UrunListesi)
                            {
                                <option value="@item.Id">@item.ProductName</option>
                            }
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Ekle</button>
                </div>
            }
        </div>
    </div>
</div>


<!--Ürün Resmi Sil Modal-->
<div class="modal" tabindex="-1" id="urun-resmi-sil-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ürün Resmi Sil</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="submit" class="btn btn-primary" id="btn-urun-resmi-sil-onayla">Sil</button>
            </div>
        </div>
    </div>
</div>


<div class="container icerik">

    <!--Yeni Ürün Resmi-->
    <div class="row">
        <div class="col-md-12">
            <a href="#urun-resmi-ekle-modal" class="btn btn-primary" data-toggle="modal">Ürün Resmi Ekle</a>
        </div>
    </div>

    <!--Uyarı-->
    @if (TempData["UyariMesaji"] != null)
    {
        <div class="alert alert-dark alert-uyari" role="alert">
            <span>X</span>
            @TempData["UyariMesaji"]
        </div>
    }

    <table class="table table-stripped myTable">
        <thead>
            <tr>
                <th>Resim Adı</th>
                <th>Resim</th>
                <th>Ürün</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductImage item in Model)
            {
                <tr>
                    <td><a href="#">@item.Name</a></td>
                    <td><img src="~/UrunResimleri/@item.Path" height="50" width="50" /></td>
                    <td><a href="#">@item.Product.ProductName</a></td>
                    <td><a href="#urun-resmi-sil-modal" data-toggle="modal" data-id="@item.Id" data-ad="@item.Name" class="btn-urun-resmi-sil"><i class="fa-solid fa-trash-can"></i></a></td>
                </tr>
            }
        </tbody>
    </table>

</div>


@section scripts{

    <script>

        $('.alert-uyari span').click(function () {
            $('.alert-uyari').css({
                'display': 'none'
            });
        });

        $('.btn-urun-resmi-sil').click(function () {
            var urunResimID = $(this).data('id');
            var urunResimAdi = $(this).data('ad');

            $('#urun-resmi-sil-modal .modal-body p').html(urunResimAdi + ' isimli resmi silmek istediğinize emin misiniz?');
            $('#btn-urun-resmi-sil-onayla').data('id', urunResimID);
        });

        $('#btn-urun-resmi-sil-onayla').click(function () {
            var urunResimID = $(this).data('id');

            var obj = {};
            obj.id = urunResimID;

            $.ajax({
                type: 'POST',
                url: '/ProductImage/UrunResmiSil',
                data: JSON.stringify(obj),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (result) {
                    if (result == "1") {
                        window.location.replace('/ProductImage/Index');
                    }
                    else if (result == "2") {
                        window.location.replace('/ProductImage/Index');
                    }
                },
                error: function (err) {
                    console.log(err.statusText);
                }
            });
        });

    </script>

}
